<ion-view title="Each property">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>
    <!--end left button on navigation bar-->
        <ion-content id="menu-dashboard-content">
            <!-- start of pannel section -->
            <div class="menu-panel">
                <div class="row table-head">
                    <div class="payments-div" style="width:15%;">
                        <p>S.no</p>
                    </div>
                    <div class="payments-div" style="width:65%;">
                        <p>Tenant</p>
                    </div>
                    <div class="payments-div" style="width:20%;">
                        <p>Amount</p>
                    </div>
                </div>

                <div class="row">
                    <div class="payments-div" style="width:15%;">
                        <p>1</p>
                    </div>
                    <div class="payments-div" style="width:65%;">
                        <p>Setting</p>
                    </div>
                    <div class="payments-div" style="width:20%;">
                        <p>99999</p>
                    </div>
                </div>

                <div class="row">
                    <div class="payments-div" style="width:15%;">
                        <p>2</p>
                    </div>
                    <div class="payments-div" style="width:65%;">
                        <p>Setting</p>
                    </div>
                    <div class="payments-div" style="width:20%;">
                        <p>99999</p>
                    </div>
                </div>

                <div class="row">
                    <div class="payments-div" style="width:15%;">
                        <p>3</p>
                    </div>
                    <div class="payments-div" style="width:65%;">
                        <p>Setting</p>
                    </div>
                    <div class="payments-div" style="width:20%;">
                        <p>99999</p>
                    </div>
                </div>

            </div>
            <!-- end of pannel section -->
        </div><!--end menu-for-currency class-->
    </ion-content>
    <!--Menu dashboard section-->
</ion-view>
