<style>
    .main-con{
        top: 93px;
    }
    #menu-dashboard-content {
        background-color: #fff !important;
    } 
    md-progress-circular {
        position: absolute;
        left: 45%;
    }
</style>
<ion-view title="Collected payment">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>
    <!--end left button on navigation bar-->
    <!--menu dashboard section-->
        <div class="" style="background-color: #fff;">
            <div class="row">
                <div class="col col-80">
                    <h4 class="top-heading">Total collected payment</h4>
                </div>
            </div> <!--end row-->
            <div class="row menu-for-currency">
                <div class="col-33">
                    <md-select style="color: grey;" ng-model="userType" aria-label="md-option">
                        <md-option selected="selected" value="0">Tenants</md-option>
                        <md-option value="1">Managers</md-option>
                        <md-option value="2">Owners</md-option>
                    </md-select>
                </div>
                <div class="col-33">
                    <onezone-datepicker datepicker-object="sDate">
                        <button class="button button-block button-outline button-positive show-onezone-datepicker">
                            {{sDate.date | date:'dd/MM/yy'}} 
                        </button>
                    </onezone-datepicker>
                </div>
                <div class="col-33">
                    <onezone-datepicker datepicker-object="eDate">
                        <button class="button button-block button-outline button-positive show-onezone-datepicker">
                            {{eDate.date | date:'dd/MM/yy'}} 
                        </button>
                    </onezone-datepicker>
                </div>
            </div><!--end-->
        <ion-content id="menu-dashboard-content" class="main-con">
            
            <div ng-show="load" layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <!-- start of pannel section -->
            <div ng-show="!load" class="menu-panel">
                <div class="row table-head">
                    <div class="payments-div" style="width:15%;">
                        <p>S.no</p>
                    </div>
                    <div class="payments-div" style="width:60%;">
                        <p>Tenant</p>
                    </div>
                    <div class="payments-div" style="width:25%;">
                        <p>Amount</p>
                    </div>
                </div>
                
                <div class="row" ng-repeat="i in payment">
                    <div class="payments-div" style="width:15%;">
                        <p>
                            {{ $index + 1 }}
                        </p>
                    </div>
                    <div class="payments-div" style="width: 60%;">
                        <p class="email-tnt">
                            {{ i.tenantPointer.Email }}
                        </p>
                    </div>
                    <div class="payments-div" style="width: 25%; text-align: left;">
                        <p>
                            {{ i.amountToBePaid }}
                        </p>
                    </div>
                </div>
            </div>
            <!-- end of pannel section -->
        </div><!--end menu-for-currency class-->
    </ion-content>
    <!--Menu dashboard section-->
</ion-view>
