<!--View Information-->
<!--View name : Menu Dashboard-->
<!--Controller name : menuDashboardCtrl-->
<!--Controller path : www/templates/themes/menu-dashboard/js/controllers.js-->
<!--State name : app.menuDashboard-->
<!--URL : #app/menuDashboard-->

<ion-view title="Dashboard">
    <!--menu dashboard section-->
    <ion-content id="menu-dashboard-content">
        <!--panel section-->
        <div class="menu-panel">
            <div class="row">
                <div class="col-33 back-orange">
                    <i class="">{{ tenantLength }}</i>

                    <p>Tenants</p>
                </div>
                <div class="col-33 back-green">
                    <i class="">{{ ownerLength }}</i>

                    <p>Owners</p>
                </div>
                <div class="col-33 back-blue">
                    <i class="">{{ propertyLength }}</i>

                    <p>Properties</p>
                </div>
            </div>
        </div><!--end panel section-->


        <div class="menu-dashboard-footer">
            <md-whiteframe class="md-whiteframe-z1" layout="" role="button" tabindex="0">
                <div class="row" ui-sref="app.collect-payment">
                    <!-- <div class="col-10">
                        <i class="fa fa-wordpress"></i>
                    </div> -->
                    <div class="col-90">
                        Collected Payment
                    </div>
                    <div class="col-10">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </md-whiteframe>

            <md-whiteframe class="md-whiteframe-z1" layout="" role="button" tabindex="0">
                <div class="row" ui-sref="app.overdue-payment">
                    <!-- <div class="col-10">
                        <i class="fa fa-google-plus"></i>
                    </div> -->
                    <div class="col-90">
                        Overdue Payment
                    </div>
                    <div class="col-10">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </md-whiteframe>

            <md-whiteframe class="md-whiteframe-z1" layout="" role="button" tabindex="0">
                <div class="row" ui-sref="app.each-property">
                    <!-- <div class="col-10">
                        <i class="fa fa-facebook"></i>
                    </div> -->
                    <div class="col-90">
                        Users in Each Property
                    </div>
                    <div class="col-10">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </md-whiteframe>

        </div>
    </ion-content><!--Menu dashboard section-->
</ion-view>